$font-stack: Baroness Kuffner, sans-serif;
$font-body: DIN Condensed, sans-serif;
$primary-font-color: black;
$header-color: #CB9F3C;

*{
  margin: 0;
  padding: 0;
}

body {
  font: 100% $font-stack;
  color: $primary-font-color;
  border: 1px solid red;
}

h1{
  text-align: center;
  font-size: 3em;
  margin: 1em 0;
  color: $header-color;
  text-shadow: -5px 3px 0 rgba(0,0,0,0.50);
  }

.time-banner {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  // height: auto;
  background-color: rgba(0,0,0,0.5);
}

#countdown {
  font-size: 16vw;
  font-family: $font-body;
  border: 1px solid black;
  padding-top: 4%;
}
