// PREVIEW html page
body{
  background-color: $green;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px repeat(2, 1fr);
  grid-auto-flow: dense;
  @include nav;
  .video{
    width: 100%;
    // overflow: hidden;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 1%;
    }
  }
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
