// PREVIEW html page
.grid-container {
  background-color: blue;
  height: 100vh;
  width: 100vw;
  // max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px repeat(2, 1fr);
  grid-auto-flow: dense;
  border: 1px solid red;
  @include nav;
  .video{
    width: 100%;
    // overflow: hidden;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // grid-area: 2 / 1 / 3 /  2;
    }
  }
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
