*{
  margin: 0;
  // border: 1px solid red;
}

.body-press {
  background-image: url(../assets/images/topo.png);
  background-size: cover;
  background-repeat: repeat;
}

.content-wrapper{
  border: 1px solid yellow;
  width: 100%;
  height: 100vh;
  max-height: 90vh;
}

.content{
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 80vw;
  height: 94%;
  max-height: 100vh;
}

.review {
  border: 1px solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: (100% / 4);
  width: 100%;
  .review-content{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 40%;
    img {
      border: 1px solid green;
      width: 100%;
      max-width: 250px;
      margin: auto;
    }
    h2{
      border: 1px solid green;
      color: $header-color;
      font-size: 8vw;
      text-align: center;
      text-shadow: -1px 2px 7px #000000;
    }
    p{
      border: 1px solid green;
      color: $header-color;
      font-family: $font-body;
      font-size: 3vw;
      text-shadow: -1px 2px 7px #000000;
      text-align: center;
      width: 100%;
    }
  }
  &:nth-child(even){
    align-items: flex-end;
  }
}
